<!-- 
  (c) Raffaele Ficcadenti 
  Maggio 2016
  raffaele.ficcadenti@gmail.com
-->
<!-- jQuery e plugin JavaScript  -->
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="#_host/assets/js/bootstrap-formhelpers.js"></script>
<script type="text/javascript" src="#_host/assets/js/bootstrap-select.js"></script>


<script type="text/javascript" src="#_host/assets/plugins/fancybox/jquery.fancybox.js?v=2.1.5"></script>

<!-- My Scripts -->
<script type="text/javascript" src="#_host/assets/js/scripts.js"></script>

<!-- Service utility AJAX -->
<script type="text/javascript" src="#_host/assets/js/utility.js"></script>

<!-- Velocity -->
<script type="text/javascript" src="#_host/assets/js/velocity.min.js"></script>
<script type="text/javascript" src="#_host/assets/js/velocity.ui.min.js"></script>

<!-- Modernizr -->
<script type="text/javascript" src="#_host/assets/js/modernizr.custom.js"></script>

<!-- Cookie Policy -->
<script type="text/javascript" src="#_host/assets/js/cookieconsent.min.js"></script>

<!-- Filter on input param 
<script type="text/javascript" src="#_host/assets/js/raffo-numeric.js"></script>
-->

<!-- JSROOT 
<script type="text/javascript" src="#_host/scripts/JSRootCore.js?gui"></script>
-->

<!-- Disable mouse dc 
<script type="text/javascript" src="#_host/assets/js/disabledx.js"></script>
-->
