<!-- 
**************************************************************************
  (c) Raffaele Ficcadenti 
  Maggio 2016
  raffaele.ficcadenti@gmail.com

  File:   	stylesheet.html
  Descr:  	Classe che richiama tutti i fogli di stile necessari al sito. 
  			La variabile #_host viene sotituita dinamicamente per determinare il path.

************************************************************************** 
-->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="#_host/assets/css/bootstrap-formhelpers.css">
<link rel="stylesheet" type="text/css" href="#_host/assets/css/bootstrap-select.css">
<link rel="stylesheet" type="text/css" href="#_host/assets/css/btn-custom.css">
<link rel="stylesheet" type="text/css" href="#_host/assets/css/raffo-custom.css">
<link rel="stylesheet" type="text/css" href="#_host/assets/css/raffo-footer.css">
<link rel="stylesheet" type="text/css" href="#_host/assets/css/animate.css">
<link rel="stylesheet" type="text/css" href="#_host/assets/css/collapse.css">
<link rel='stylesheet' type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Shadows+Into+Light'>

<!-- Include Bootstrap Datepicker -->
